{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    {% for blog in blogs %}
        <article class="blog panel panel-default">
            <div class="date panel-heading"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>

            <div class="panel-body">
                <header>
                    <h2><a href="{{ path('BlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
                    {# <img src="{{ asset(['images/', blog.image]|join) }}" /> #}
                </header>
                <p>{{ blog.blog(500) | raw }}</p>
                <p class="continue"><a href="{{ path('BlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">Lire l'article</a></p>
            </div>

            <footer class="panel-footer">
                <p>Commentaires: <a href="{{ path('BlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></p>
                <p>Par <span class="highlight">{{ blog.author }}</span> à {{ blog.created|date('H:i') }}</p>
                <p>Tags: <span class="highlight">{{ blog.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p class="well">Aucun article</p>
    {% endfor %}
{% endblock %}
