{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock%}

{% block body %}
    <h1>Ajouter un commentaire pour cet article "{{ comment.blog.title }}"</h1>
    {% include 'BlogBundle:Comment:new.html.twig' with { 'form': form } %}
{% endblock %}