<div class="list-group">
{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }} list-group-item" id="comment-{{ comment.id }}">
        <div class="row-picture">
            <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
        </div>
        <div class="row-content">
            <header class="list-group-item-heading">
                <p><span class="highlight">{{ comment.user }}</span> a commenté <time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></p>
            </header>
            <p class="list-group-item-text">{{ comment.comment }}</p>
        </div>
    </article>
    <div class="list-group-separator"></div>
{% else %}
    <p>Aucun commentaire sur cet article... Soyez le premier !</p>
{% endfor %}
</div>