<div class="well">
    {{ form_start(form, {'action': path('BlogBundle_comment_create', { 'blog_id' : comment.blog.id }), 'method': 'POST', 'attr': {'class': 'form-horizontal'}} ) }}
        <fieldset>
            <legend>Ajouter un commentaire</legend>

            <div class="form-group">
                {{ form_label(form.user, "Pseudo", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.user, {'attr': {'class': 'form-control validate', 'placeholder': 'Pseudo'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.comment, "Commentaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.comment, {'attr': {'class': 'form-control validate', 'placeholder': 'Commentaire'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, "label": "Ajouter"}) }}
                </div>
            </div>
        </fieldset>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>