<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}symblog{% endblock %} - symblog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

        <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />

        <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap-material-design.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/vendor/bootstrap/css/ripples.min.css') }}" type="text/css" rel="stylesheet" />

        <link href="{{ asset('assets/css/layout.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section class="container">
    <div class="row">
        <header class="col-sm-12">
            {% block navigation %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('BlogBundle_homepage') }}">Blog Symfony2</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right" >
                                <li><a href="{{ path('BlogBundle_homepage') }}" class="active">Accueil</a></li>
                                <li><a href="{{ path('BlogBundle_blog_new') }}">Nouveau Blog*</a></li>
                                <li><a href="{{ path('BlogBundle_blog_list') }}">Liste des Blogs</a></li>
                                <li class="dropdown">
                                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Admin
                                        <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                            <li><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">
                                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                            </a></li>
                                        {% else %}
                                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}

            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                <div class="alert alert-dismissible alert-warning {{ type }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
                {% endfor %}
            {% endfor %}

            <div class="page-header text-center">
             <h1>{% block BlogBundle_title %}<a href="{{ path('BlogBundle_homepage') }}">Blog Symfony2</a>{% endblock %}</h1>
             <h2>{% block BlogBundle_tagline %}<a href="{{ path('BlogBundle_homepage') }}">Un blog inspiré de skyblog, myspace et du comic sans ms</a>{% endblock %}</h2>
            </div>
         </header>
    </div>

    <div class="row">
        <section class="col-sm-9">
         {% block body %}
             {% block fos_user_content %}{% endblock fos_user_content %}
         {% endblock %}
        </section>
        <aside class="col-sm-3">
         {% block sidebar %}
             {% render url('BlogBundle_sidebar') %}
         {% endblock %}
        </aside>
    </div>

     <div id="footer">
         {% block footer %}
             © Copyright blablabla - <a href="{{ path('BlogBundle_homepage') }}">Accueil</a> | <a href="{{ path('BlogBundle_blog_new') }}">Nouveau Blog*</a> | <a href="{{ path('BlogBundle_blog_list') }}">Liste des Blogs</a> |
         {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
             {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
             <a href="{{ path('fos_user_security_logout') }}">
                 {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
             </a>
         {% else %}
             <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> | <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
         {% endif %}
        {% endblock %}
    </div>
</section>

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/material.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/ripple.min.js') }}"></script>
{% endblock %}
</body>
</html>