{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Ajouter un nouvel article{% endblock%}

{% block body %}
    <h1>Ajouter un nouvel article "{{ blog.title }}"</h1>
    {% include 'BlogBundle:Blog:new.html.twig' with { 'form': form } %}
{% endblock %}