{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Liste des blogs{% endblock %}

{% block body %}
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Auteur</th>
            <th>Tags</th>
            <th>Commentaires</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for blog in blogs %}
        <tr>
            <td><a href="{{ path('BlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a></td>
            <td><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></td>
            <td>{{ blog.author }}</td>
            <td>{{ blog.tags }}</td>
            <td><a href="{{ path('BlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></td>
            <td><a href="{{ path('BlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">Lire l'article</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}