
{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Nouvel article{% endblock%}

{% block body %}

    <div class="well">

        {{ form_start(form, {'action': path('BlogBundle_blog_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal'}} ) }}
        <fieldset>
            <legend>Créer un nouveau post</legend>

            <div class="form-group">
                {{ form_label(form.author, "Auteur", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-8"> 
                    {{ form_widget(form.author, {'attr': {'class': 'form-control validate', 'placeholder': 'Auteur'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.title, "Titre du post", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control validate', 'placeholder': 'Titre du post'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.blog, "Contenu", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-8">
                    {{ tinymce_init() }}
                    {{ form_widget(form.blog, {'attr': {'class': 'tinymce form-control validate', 'placeholder': 'Contenu'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.publishDate, "Date de publication", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.publishDate, {'attr': {'class': 'form-control validate'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.tags, "Tags", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.tags, {'attr': {'class': 'form-control validate', 'placeholder': 'Tags, séparés par des virgules'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, "label": "Ajouter"}) }}
                </div>
            </div>
        </fieldset>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
