{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog panel panel-default">
        <header class="panel-heading">
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        <!-- <img src="{{ asset(['images/', blog.image]|join) }}" alt="Image pour {{ blog.title }} non trouvée" class="large" /> -->
        <div class="panel-body">
            <p>{{ blog.blog | raw}}</p>
        </div>
    </article>
    
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Commentaires</h3>
            {% include 'BlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>

            {% render url('BlogBundle_comment_new', { 'blog_id': blog.id }) %}
    </section>
{% endblock %}